span {
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    height: 25px;
    width: 25px;
    border-bottom: solid 3px salmon;
}

span.key {
    border: none;
    background: salmon;
   
}

span.tried {
    color: rgb(173, 169, 169);
    border: none;
}